# yamllint disable rule:line-length
deb [arch={{ docker_repo_arch }} signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/{{ docker_repo_distribution }} {{ docker_repo_release }} stable
